div.Navbar{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    width: auto;
    justify-content: space-evenly;
    height: 60px;
}

@media (max-width: 768px) {
   div.Navbar{
    height: 40px;
   }
}