@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sora:wght@600;700&display=swap');
* {
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

div.Projects{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

div.project{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

#description{
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 20px;
}


div.p1 {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    border: 2px solid blue;
    margin-bottom: 20px;
}

hr{
    hr {
        border: 1px solid white;
        margin: 20px;
    }
}