*{
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

body{
  /* display: flex; */
  color: white;
  background: rgb(0,0,0);
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 40%, rgba(9,9,121,1) 90%); */
}